/system
/config
.DS_Store
.idea/workspace.xml
.mps/workspace.xml
.idea/inspectionProfiles
.idea/shelf
/build/solution/.idea/workspace.xml
/MPSPlugin/.idea/workspace.xml
/MPSPlugin/apiclasses
/build/tmp/*
/contrib/build/tmp/*
/build/artifacts/*
/contrib/build/artifacts/*
classes
classes_gen
source_gen
test_gen
!/languages/languagelab.lang.structure/generator/source_gen
!/languages/languagelab.lang.textual/generator/source_gen
!/languages/languagelab.mps.lang.adaptedGenerator/generator/source_gen
source_gen.caches
test_gen.caches
testclasses
*.iws
teamcity-info.xml
*.hprof
*.class
plugins/debugger-api/lib
plugins/debugger-java/lib
plugins/mpsjava/lib/
plugins/execution-languages/lib
plugins/execution-configurations/lib
plugins/mps-execution-deprecated/lib
plugins/jetpad/lib
plugins/jetpad/lib/*.war
plugins/jetpad/lib/jetpadBuildNumber.txt
plugins/cvsIntegration/lib
plugins/git4idea/lib
plugins/svn4idea/lib
plugins/mps-testing/lib
lib/*
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
